@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* -------------------------------------  */
/* Style guide - START                    */
/* -------------------------------------  */
:root {
  --color-primary-1: #495E57;
  --color-primary-2: #F4CE14;
  --color-secondary-1: #EE9972;
  --color-secondary-2: #FBDABB;
  --color-highlight-1: #EDEFEE;
  --color-highlight-2: #333333;

  --font-regular: 400px;
  --font-medium: 500px;
  --font-bold: 700px;
  --font-extra-bold: 800px;
}

/* Colors */
.color-primary-1 { color: #495E57; }
.color-primary-2 { color: #F4CE14; }
.color-secondary-1 { color: #EE9972; }
.color-secondary-2 { color: #FBDABB; }
.color-highlight-1 { color: #EDEFEE; }
.color-highlight-2 { color: #333333; }

/* FONT: Markazi */
.font__markazi, .text--display_title, .text--display-subtitle {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text--display-title {
  font-weight: var(--font-medium);
  font-size: 64px;
}

.text--display-subtitle {
  font-weight: var(--font-regular);
  font-size: 40px;
}

/* FONT: Karla */
.font__karla, .text--lead, .text--section-title, .text--section-categories, .text--card-title, .text--card-paragraph {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text--lead {
  font-weight: var(--font-medium);
  font-size: 18px;
}

.text--lead-highlight {
  font-weight: var(--font-extra-bold);
  font-size: 24px;
}

.text--section-title {
  font-weight: var(--font-extra-bold);
  font-size: 20px;
  text-transform: uppercase;
}

.text--section-categories {
  font-weight: var(--font-extra-bold);
  font-size: 16px;
}

.text--card-title {
  font-weight: var(--font-bold);
  font-size: 18px;
}

.text--card-paragraph, .text--card-paragraph-highlight {
  font-size: 16px;
  color: var(--color-primary-1)
}

.text--card-paragraph {
  font-weight: var(--font-regular);
}

.text--card-paragraph-highlight {
  font-weight: var(--font-medium);
}
/* -------------------------------------  */
/* Style guide - END                      */
/* -------------------------------------  */

#root {
  height: 100%;
}

html {
  background: white;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
}

.container {
  display: grid;
  grid: 120px auto fit-content(500px) / repeat(12, 1fr);
  /* margin: 0px 50px;
  width: calc(100vw - 100px); */
  padding: 0px 50px;
  height: 100%;

  > * {
    grid-column: 3 / span 8;
  }
}

header {
  grid-row: 1;
  display: flex;

  > * { align-self: center; }
}

.logo {
  height: 50px
}

nav {
  margin-left: auto;

  a, .nav__link-disabled {
    display: inline-block;
    position: relative;
    margin: 0px 15px;
    padding: 10px 10px;
    transition: all 0.5s;
    overflow: hidden;
  }

  a, a:visited, a:active {
    color: var(--color-primary-1);
  }

  .nav__link-disabled {
    color: var(--color-highlight-1);
    cursor: not-allowed;
  }

  a:hover {
    color: var(--color-primary-2);
  }

  a::before, a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    z-index: -1;
  }

  a::before {
    top: 0;
    border-top: solid 2px var(--color-primary-2);
    transform: translateX(-100%);
  }

  a::after {
    bottom: 0;
    border-bottom: solid 2px var(--color-primary-2);
    transform: translateX(100%);
  }

  a:hover::before {
    transform: translateX(-50%);
  }

  a:hover::after {
    transform: translateX(50%);
  }

  ul {
    li {
      display: inline-block;
    }
  }
}

main {
  grid-row: 2;
}

footer {
  grid-row: 3;
  display: flex;
  gap: 20px;
  padding: 50px 0;
  background: var(--color-highlight-1);
  border-image: conic-gradient(var(--color-highlight-1) 0 0) fill 0/0/0 100vw;

  > * {
    flex-grow: 1;
  }

  h1 {
    margin: 20px 0px;
    color: var(--color-primary-1);
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 5px;
    }
  }

  a {
    position: relative;
    padding-left: 5px;
    padding-bottom: 2px;
    transition: all 0.5s;
    display: inline-block;
    overflow: hidden;
    min-width: 100px;
  }

  .footer__link-disabled {
    padding-left: 5px;
    padding-bottom: 6px;
    color: #d4d6d5;
    cursor: not-allowed;
  }

  a, a:visited, a:active {
    color: var(--color-primary-1)
  }

  a:hover {
    color: var(--color-primary-2)
  }

  a::before, a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s;
  }

  a::before {
    width: 100%;
    height: 2px;
  }

  a::after {
    width: 2px;
    height: 100%;
  }


  a::before {
    bottom: 0;
    background-color: var(--color-primary-2);
    transform: translateX(-100%);
  }

  a::after {
    bottom: 0px;
    background-color: var(--color-primary-2);
    transform: translateY(100%);
  }

  a:hover::before {
    transform: translateX(0);
  }

  a:hover::after {
    transform: translateX(0);
  }
}

button {
  position: relative;
  display: inline-block;
  background-color: var(--color-primary-2);
  color: var(--color-primary-1);
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-);
  font-size: 18px;
  border-radius: 16px;
  padding: 10px;
  border: none;
  outline: 2px solid var(--color-primary-2);
  outline-offset: -2px;
  transition: all ease-in .2s;
}

button:hover {
  background-color: var(--color-secondary-1);
  outline-color: var(--color-secondary-1);
  outline-offset: 2px;
}

button:active {
  background-color: var(--color-primary-2);
  outline-color: var(--color-primary-2);
  outline-style: dotted;
}

.page__title {
  padding: 50px 0;
  text-align: center;
  background: var(--color-primary-1);
  border-image: conic-gradient(var(--color-primary-1) 0 0) fill 0/0/0 100vw;
}

.form__input-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px 0;
}

.form__submit-container {
  padding: 30px 0;
}

select, input[type=date] {
  border: 2px solid var(--color-primary-1);
  border-radius: 16px;
  padding: 10px;
  background: var(--color-highlight-1);
  color: var(--color-primary-1);
  transition: all linear 0.2s;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 10px;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"%3E%3Cpath fill="%23000" d="M2 0L0 2h4zm0 5L0 3h4z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position the arrow */
  background-size: 8px 10px; /* Size of the arrow */
  transition: all linear 0.2s;
}

select:hover, input[type=date]:hover {
  border: 2px solid var(--color-primary-2);
}